includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 6

    checkGenericClassInNonGenericObjectType: false

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
